body {
	background-color: #000;
}

.parallax-container {
      height: 600px;
}

.smaller {
	height: 500px;
}

.section {
	background-color: #212121;
}

.placeholder {
	width: 100%;
	height: 200px;
	background-color: #000;
}
#mylist {
	color: #fff;
}

#mylist li {
	opacity: 0;
}

.row {
	margin-top: 5%;
}

h2.heading, p.heading {
	color: #fff;
	text-align: center;
	margin-bottom: 5px;
}

h2.heading {
	margin-top: 0px;
}

p.heading {
	font-weight: 200;
	font-size: 18px;
	margin-top: 5px;
}

/* Modifying Their CSS */
nav {
	padding: 0 10px 0 10px;
}

